.box{
    height: 800px;
    width: 1200px;
    display: grid;
    grid-template-areas: "topo topo topo"
                        "ce cp cd"
                        "ro ro ro";
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: 150px 1fr 150px;
}

.topo{
    display: grid;
    grid-template-areas: "p1 p2 p3 p4";
    grid-template-columns: 300px 300px 300px 300px;
}

.topo .t1{
    background-color: rgb(0, 0, 87);
    color: white;
    grid-area: p1;
    text-align: center;
    padding: 50px;
}

.topo .t2{
    background-color: rgb(6, 160, 1);
    color: white;
    grid-area: p2;
    text-align: center;
    padding: 50px;
}

.topo .t3{
    background-color: rgb(170, 231, 0);
    color: white;
    grid-area: p3;
    text-align: center;
    padding: 50px;
}

.topo .t4{
    background-color: rgb(194, 4, 169);
    color: white;
    grid-area: p4;
    text-align: center;
    padding: 50px;
}

.cE{
    background-color: rgb(89, 89, 179);
    color: white;
    grid-area: ce;
    text-align: center;
    padding: 50px;
}

.cP{
    background-color: rgb(0, 0, 221);
    color: white;
    grid-area: cp;
    text-align: center;
    padding: 50px;
}

.cD{
    background-color: rgb(89, 89, 179);
    color: white;
    grid-area: cd;
    text-align: center;
    display: grid;
    grid-template-areas: "CD1 CD2"
                        "CD3 CD4"
                        "CD5 CD6"
                        "CD7 CD8";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.cD .cd1{
    background-color:lightgoldenrodyellow;
    grid-area: CD1;
}

.cD .cd2{
    background-color:lightseagreen;
    grid-area: CD2;
}

.cD .cd3{
    background-color: lemonchiffon;
    grid-area: CD3;
}

.cD .cd4{
    background-color: lightsalmon;
    grid-area: CD4;
}

.cD .cd5{
    background-color: lightgreen;
    grid-area: CD5;
}

.cD .cd6{
    background-color: lightslategrey;
    grid-area: CD6;
}

.cD .cd7{
    background-color: lightpink;
    grid-area: CD7;
}

.cD .cd8{
    background-color: lightcoral;
    grid-area: CD8;
}

.cD .cd1 p{
    background-color: rgb(0, 255, 64);
}

.cD .cd6 p{
    background-color: rgb(68, 0, 255);
}

.cD .cd6 #p1 p{
    background-color: rgb(206, 127, 9);
}

.rodape{
    background-color:blueviolet;
    color: white;
    grid-area: ro;
    text-align: center;
    padding: 50px;
}