.box{
    height: 600px;
    width: 1200px;
    display: grid;
    grid-template-areas: "topo topo topo"
                        "ce cp cd"
                        "ro ro ro";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 150px 1fr 150px;
}

.topo{
    display: grid;
    grid-template-areas: "T1 T2 T3 T4";
    grid-template-columns: 300px 300px 300px 300px;
}

/* TOPO */
.topo .t1{
    background-color: green;
    color: white;
    grid-area: T1;
    text-align: center;
    padding: 50px;
}

.topo .t2{
    background-color:goldenrod;
    color: white;
    grid-area: T2;
    text-align: center;
    padding: 50px;
}

.topo .t3{
    background-color:burlywood;
    color: white;
    grid-area: T3;
    text-align: center;
    padding: 50px;
}

.topo .t4{
    background-color:brown;
    color: white;
    grid-area: T4;
    text-align: center;
    padding: 50px;
}

.cE{
    background-color: red;
    color: white;
    grid-area: ce;
    text-align: center;
}

.cP{
    background-color:cadetblue;
    color: white;
    grid-area: cp;
    text-align: center;
}

.cD{
    background-color:darkred;
    color: white;
    grid-area: cd;
    text-align: center;
}

.rodape{
    background-color:blueviolet;
    color: white;
    grid-area: ro;
    text-align: center;
}