.box{
    width: 1500px;
    height: 649px;
    display: grid;
    grid-template-areas: "h h"
                        "l lat"
                         "f f";
grid-auto-rows: 100px 1fr 100px;
grid-template-columns: 800px, 300px;
}

.header{
     background-color:pink ;
    grid-area: h;

}
.l1{
background-color:blue ;
grid-area: l;
}

.lateral{
    background-color: burlywood;
    grid-area: lat;

}
.footer{
    background-color: brown;
    grid-area: f;
}
p{
      font-size: 30px;
    text-align: center;
}
.c1{
   background-color: dodgerblue;
   height: 160px;
}
.c2{
  background-color: lightblue;
  height: 160px;
}
.c3{
   background-color: blue;
   height: 160px;
}