#div01{
    background-color: red;
    width: 1200px;
    height: 300px;
    padding-top: 90px;
    
}

#div02{
    background-color: blue;
    width: 1200px;
    height: 300px;
}

#div03{
    background-color: yellow;
    width: 1200px;
    height: 300px;
}

#div04{
    background-color: black;
    color: white;
    font-size: 50px;
    margin-left: 100px;
    padding-bottom: 60px;
    padding-top: 20px;
    width: 900px;
    height: 100px;
}

p{
    text-align: center;
}