h1{ 
    background-color: azure;
}

h2{
    background-color: aliceblue;
}

#p1{
    background-color: rgb(145, 199, 201);
}

#p2{
    background-color: cornflowerblue;
}

.div1{ 
    background-color: darkcyan;
}